%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %button#sidebarCollapse.navbar-btn{:type => "button"}
      %span
      %span
      %span
    %a.pull-right{:href => "/users/sign_out", "data-method" => "DELETE"}
      %span
        %i.fa.fa-sign-out-alt
      %span
        Sign Out
