%nav#sidebar
  .sidebar-header
    %h3 Digisure
  %ul.list-unstyled.components
    %li
      %a{:href => transactions_path}
        %span
          %i.fa.fa-plane-departure
        %span
          Transactions
